@import './../../vars';
@import './../../forms';
@import './../../pagination';

.artists__header {
    display: flex;
    align-items: center;
    gap: 20px;
    form {
        margin-left: auto;
        max-width: 350px;
        width: 100%;
        .form__row {
            padding-top: 0;
            margin-top: 0;
        }
        &.full_width {
            max-width: 850px;
        }
    }
    a {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 20px;
        color: $accentWhite;
        background-color: $backgroundBlack;
        text-decoration: none;
        border-radius: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        svg {
            width: 30px;
            height: 30px;
            fill: $accentWhite;
        }
    }
}

.artists__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    &--visibility__flag {
        position: absolute;
        top: 10px;
        left: 130px;
        width: 40px;
        height: 40px;
        svg {
            fill: rgba($color: #000000, $alpha: 0.45);
        }
    }
    &--row {
        border-bottom: 1px solid $borderVizible;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        position: relative;
        img {
            width: 150px !important;
            height: unset !important;
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
            &.quadrilateral {
                width: 200px !important;
                aspect-ratio: 16 / 9;
                border-radius: 16px;
                object-fit: cover;
            }
        }
        p {
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
            margin-left: 70px;
        }
    }
    &--actions {
        display: flex;
        gap: 15px;
        margin-left: auto;
        align-items: center;
        a {
            padding: 10px;
            border-radius: 50%;
            svg {
                width: 30px;
                height: 30px;
                fill: $background;
            }
            &.button, 
            &.delete {
                color: $accentWhite;
                font-size: 16px;
                line-height: 22px;
                padding: 10px 20px;
                text-decoration: none;
                background-color: $accentRed;
                border-radius: 21px;
            }
            &.button {
                background-color: $accentGreen;
            }
        }
    }
}
.artists__country {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
        width: 40px !important;
        border-radius: 0 !important;
    }
}
.artists__flags {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    border-top: 1px solid #000;
    p {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 0;
        span {
            padding: 6px 12px 6px;
            background-color: #000;
            border-radius: 16px;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                background: #000;
                stroke: #f9f9f9;
                stroke-dasharray: 25;
                stroke-dashoffset: 25;
                stroke-linecap: round;
                stroke-width: 0.2rem;
                border-radius: 0.2rem;
                fill: none;
                transition: stroke-dashoffset 0.6s;
            }
            &.active {
                svg {
                    stroke-dashoffset: 0;
                }
            }
        }
    }
}