@import './../../vars';
.artist_header {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    h1 {
        margin-right: auto;
    }
    a {
        padding: 10px;
            border-radius: 50%;
            svg {
                width: 30px;
                height: 30px;
                fill: $background;
            }
            &.delete {
                color: $accentWhite;
                font-size: 16px;
                line-height: 22px;
                padding: 10px 20px;
                text-decoration: none;
                background-color: $accentRed;
                border-radius: 21px;
            }
    }
}
.artist__main {
    display: flex;
    gap: 100px;
    align-items: center;
    img {
        width: 150px !important;
        height: unset !important;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
    }
    p {
        font-size: 30px;
        line-height: 38px;
        font-weight: 700;
    }
}
.artist__descriptions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    p:nth-child(odd) {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
    }
    p:nth-child(even) {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: $accentGrey;
    }
}