$testingYellow: rgba(255, 255, 0, 0.1);

$background: rgba(31, 29, 43, 1.0);
$backgroundTransparent: rgba(31, 29, 43, 0.6);
$backgroundBlack: rgba(0, 0, 0, 1.0);
$accentGreen: rgba(96, 148, 88, 1.0);
$accentWhite: rgba(255, 255, 255, 1.0);
$accentOlive: rgba(63, 62, 62, 1.0);
$accentRed: rgba(194, 87, 87, 1.0);
$accentGrey: rgba(54, 54, 54, 1.0);

$outlineTransparent: rgba(31, 29, 43, 0);
$outlineVizible: rgba(31, 29, 43, 1.0);

$borderVizible: rgba(31, 29, 43, 1.0);